<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
{#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#<meta name="description" content="">#}
{#<meta name="author" content="">#}

<title>云鸟科技资产管理平台</title>
<link href="/static/img/favicon.ico" type="image/x-icon" rel="shortcut icon">

<!--第三方插件样式-->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/vendor/datatable/dataTables.bootstrap.css" type="text/css" >
<link rel="stylesheet" href="/static/vendor/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css" >
<link href="/static/vendor/metismenu/metis-menu.min.css" rel="stylesheet">
<link href="/static/vendor/alert/sweet-alert.css" rel="stylesheet">
<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!--自定义样式文件 ＊重要＊-->
<link href="/static/vendor/yn_cmdb.css" rel="stylesheet">


<style type="text/css">
.navbar-header{
    width: 200px;
    text-align: center;
}
.navbar-brand{
    font-size: 20px;

}
.table{
    margin-top: 10px;
}

.hover{
    cursor: pointer;
}
.progress-reboot{
    position: absolute;
    height: 2px;
    top:0px;
    background: #337ab7;
    width: 0%;
    z-index: 2000;
}
#main-content{
    overflow-x:auto;
}
#main-content .add-btn{
    position: absolute;
    z-index:100;
    width: 200px;
}
#wrapper{
    background: #2e3c4e;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}
.navbar-default .navbar-nav>li>a:hover{
    background: #299d71;
}

.navbar-default .navbar-brand{
    color:white;
}

.navbar-default .navbar-brand:hover{
    color:white;
}
.select2-container{
    width: 100% !important;
}
button.detail{
    margin-left: 10px;
}
.sweet-alert h2{
    margin-top: 30px;
}

</style>

</head>

<body>
<div id="wrapper"> <!--页面全局样式-->

<!--页面头部导航 -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <a class="navbar-brand" href="/">云鸟运维平台</a>
    <ul class="nav navbar-nav">
	<li  class="dropdown" id="profile-messages" >
	    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i><span class="text">{% if errmsg %}<span style="color: red;">{{errmsg}}</span>{%else%}{{user}}{%endif%}</span> <b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<li class="divider"></li>
		<li><a href="/logout"><i class="fa fa-mail-forward fa-fw"></i>退出登录</a></li>
	    </ul>
	</li>
	<li><a href="/logout"><i class="fa fa-mail-forward fa-fw" ></i><span>退出登录</span></a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li><a href="http://yunniao.cn/" target="_blank">云鸟官网</a></li>
<!--        <li><a href="#" target="_blank">API文档</a></li>
        <li><a href="#" target="_blank">里程碑</a></li> -->
    </ul>
    <form class="navbar-form">
        <input type="text" class="form-control" placeholder="Search...">
    </form>
</nav><!--nav  end -->

<!--页面左边导航-->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">  <!--菜单列表-->
            <li><a href="/"><i class="fa fa-home fa-fw"></i>控制面板</a></li>
              <li><!--资产平台-->
              <a href="#"><i class="glyphicon glyphicon-hdd"></i>CMDB资产平台<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                          <li class="">
                              <a href="/assets/hw_list">硬件服务器</a>
                          </li>
                          <li class="">
                              <a href="/assets/vm_list/">虚拟机</a>
                          </li>
                  </li>
 
                  <li>
                      <a href="/assets/idc_list/">IDC</a>
                  </li>
                  <li>
                      <a href="/assets/cabinet_list/">机柜</a>
                  </li>
              </ul>
        </ul><!--菜单列表结束-->

    </div><!--sidebar-collapse end -->
</div><!--navbar-static-side 左边菜单结束 -->

<!--页面正文部分-->

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
        <div id='main-content' class="col-md-12" style='padding-top:20px;'>
		<div id="content-header">
			  <ul class="breadcrumb">
				<li><i class="fa fa-home fa-fw"></i><a href="/">Home</a><span class="divider"></span></li>
				{% block breadcrumb %}
				{% endblock %}
			  </ul> 
			  <hr>
    	</div><!--end content-header-->
            {% block body %}
            {% endblock %}
        </div>
        </div>
    </div>
</div>  <!--页面正文部分结束-->

</div><!--页面全局样式结束-->

<!--js 部分-->
         <script src="/static/vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        {#<script src="/static/vendor/datatable/datatable.js"></script>#}
        <script src="/static/vendor/metismenu/metis-menu.min.js"></script>
        <script src="/static/vendor/validate/validate.js"></script>
        <script src="/static/vendor/validate/bootstrap.js"></script>
        <script src='/static/vendor/alert/sweet-alert.min.js'></script>
        <script src="/static/vendor/echarts/echarts.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/static/vendor/datatable/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/static/vendor/datatable/dataTables.bootstrap.js"></script>
        <script type="text/javascript" charset="utf8" src="/static/vendor/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/static/vendor/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script>
        $("#side-menu").metisMenu()
        {% block js %}
        {% endblock %}
    </script>

</body>
</html>
